In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 ={'Name':['Priyang','Aadhya','Krisha','Vedant','Parshv',
                'Mittal','Archana'],
                'Marks':[98,89,99,87,90,83,99],
                'Gender':['Male','Female','Female','Male','Male',
                         'Female','Female']
               }
df1=pd.DataFrame(dict1)
df1

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female
3   Vedant     87    Male
4   Parshv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

# 1. Display Top 3 rows of DataSet

# 2.Check last 3 rows of Dataset

# 3. Find Shape of our Dataset (no. of rows & columns in dataset)

# 4. Get Information  about our dataset like total number of rows, columns, datatypes of each columns & memory requirements

# 5. Check null values in the dataset

# 6. Get overall Statistics about the dataframe

# 7.Find unique values from the Gender column

# 8.Find the number of unique values from the gender column

# 9. Display count of unique values in Gender column

## 10. Find total number of students having marks between 90 to 100 (inclusive) using between method

## 11. Find Average Marks

## 12. Drop the Columns

## 13. Print name of the columns

##  14. Sort the Dataframe as per the marks column

## 15. Display the name & marks of female students