In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as pl

In [5]:
#in this data set there is an encoding eroor so use this encoding="iso-8859-1" while reading the csv file
data=pd.read_csv('8-Forest-Fire-in-brazil.csv',encoding="iso-8859-1")
data

      year      state     month  number        date
0     1998       Acre   Janeiro     0.0  1998-01-01
1     1999       Acre   Janeiro     0.0  1999-01-01
2     2000       Acre   Janeiro     0.0  2000-01-01
3     2001       Acre   Janeiro     0.0  2001-01-01
4     2002       Acre   Janeiro     0.0  2002-01-01
...    ...        ...       ...     ...         ...
6449  2012  Tocantins  Dezembro   128.0  2012-01-01
6450  2013  Tocantins  Dezembro    85.0  2013-01-01
6451  2014  Tocantins  Dezembro   223.0  2014-01-01
6452  2015  Tocantins  Dezembro   373.0  2015-01-01
6453  2016  Tocantins  Dezembro   119.0  2016-01-01

[6454 rows x 5 columns]

In [6]:
data.dtypes

year        int64
state      object
month      object
number    float64
date       object
dtype: object

In [8]:
#as you can see that in our dataset the date column is in object data which is not useful if we want to work with this dataset
#as we will require in date time format, so we need to change the value as shown below
#to change the data type we are parsing the date column as shown below

In [13]:
data1=pd.read_csv('8-Forest-Fire-in-brazil.csv',encoding="iso-8859-1",parse_dates=['date'])
data1.dtypes
#as you can see that the data type for the date column had been changed

year               int64
state             object
month             object
number           float64
date      datetime64[ns]
dtype: object

# 1. Display  Top 5 Rows of the Dataset

# 2. Display Bottom 5 Rows of the Dataset

# 3. Find the shape of our dataset (Number of rows & columns)

# 4. Getting Information about our dataset like total number of rows, total number of columns, datatypes of each column & memory requirement

# 5. Check for Duplicate Data & drop them

# 6. Check Null values in the dataset

# 7. Get overall stastics about the dataframe

# 8.Rename Month Names to English

# 9. Total numbers of fire registered

# 10. In Which month maximum number of forest fires were reported ?

# 11. In which year maximum number of forest fires were reported ?

# 12. In which state maximum number of forest fires were reported ?

# 13. Find total number of fires were reported in amazon

# 14. Display numbers of fires were reported in amazon (Year-wise)

# 15.Display numbers of fires were reported in amazon (Day-wise)

# 16. Find total number of fires were reported in 2015 & visualize data based on each month

# 17. Find the average number of fires were reported from highest to lowest (state-wise)

# 18. To find the state names where fires were reported in 'december' month